.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: none;
  column-gap: var(--token-4Rjw4-JlxIrC);
  min-width: 0;
  padding: var(--token-4Rjw4-JlxIrC) 0px;
  border-bottom: 1px solid var(--token-lI7p7XYFfy5v);
}
.roottype_button {
  border-bottom-width: 0px;
}
.roottype_hr {
  border-bottom-width: 0px;
  padding: 0px;
}
.rootback_onScaffold {
  background: var(--token-lI7p7XYFfy5v);
  padding-top: var(--token-x0W5E5oV4ZKj);
  padding-bottom: var(--token-x0W5E5oV4ZKj);
  border-radius: var(--token-4Rjw4-JlxIrC);
}
.rootback_primary {
  background: var(--token-T923AFgI9ADB);
  padding-top: var(--token-qnJhuc6uXiqh);
  padding-bottom: var(--token-qnJhuc6uXiqh);
  border-radius: var(--token-4Rjw4-JlxIrC);
}
.freeBox__hlqhR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBoxtype_button__hlqhRgUbtP {
  align-items: center;
  justify-content: flex-start;
  display: flex;
}
.freeBoxtype_hr__hlqhRhuTlq {
  display: none;
}
.metoLabel:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__nCaUd {
  font-size: var(--token-WKBP9DQDUfyS);
}
.texttype_button__nCaUdgUbtP {
  width: auto;
  font-size: var(--token-QCzRjySgYUYj);
}
.freeBox__m7Ha7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  column-gap: var(--token-4Rjw4-JlxIrC);
  padding: 0px;
}
.freeBoxtype_hr__m7Ha7HuTlq {
  display: none;
}
.text__zdBRo {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-o5LqR9FrbNhz);
  background: var(--token-c1T518Z6qEaF);
  color: var(--token-xIHLtsKT6cI7);
  border-radius: var(--token-4Rjw4-JlxIrC);
  padding: var(--token-JLnei8msY981) var(--token-JLnei8msY981)
    var(--token-CdJCXXOxwnDW);
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-qnJhuc6uXiqh);
  height: var(--token-qnJhuc6uXiqh);
  color: var(--token-xIHLtsKT6cI7);
  align-self: center;
  flex-shrink: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
