.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #c8c7c1;
}
.rootselected {
  background: #7444bcb3;
  border-width: 0px;
}
.rootselectedLine {
  border-color: var(--token-b4b-6VMDx4HQ);
}
.rootdisable {
  background: var(--token-Hi3UK9Fn0koN);
}
.rootcolor_grey {
  background: var(--token-TgwlpmIh6GxQ);
  border-width: 0px;
}
.rootstyle2_line {
  border-width: 0px;
}
.rootstyle2_meddiom {
  padding: 4px;
}
.rootcolor_light_selected {
  background: var(--token-CFRw02JqHqo5);
}
.rootcolor_grey_selected {
  background: var(--token-uQMrpkCZv92v);
}
.freeBox {
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.slotTargetChildrenselected {
  color: var(--token-bB_hmkn_Puq2);
}
.slotTargetChildrenstyle2_meddiom {
  font-size: 14px;
}
.slotTargetChildrencolor_light_selected {
  color: var(--token-SdNsDbLyH7hq);
}
.slotTargetChildrencolor_grey_selected {
  color: var(--token-sVDJcKFCyy_M);
}
