.root {
  background: var(--token-av6EF1yYpyXk);
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px 80px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__zZeFg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zZeFg {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.message:global(.__wab_instance) {
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  width: 100%;
  height: auto;
  transform: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .message:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.text__xgPKr {
  text-align: right;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-size: var(--token-o5LqR9FrbNhz);
  font-weight: normal;
  font-style: normal;
  color: var(--token-xIHLtsKT6cI7);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.freeBox__eKWsp {
  flex-direction: column;
  position: relative;
  width: 25px;
  height: 25px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  bottom: auto;
  background: #ffffff82;
  cursor: pointer;
  display: none;
  border-radius: 100%;
  padding: 3px;
}
.svg__xUuW {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-1dmpswq7zNPC);
  width: 20px;
  height: 20px;
  transform: translateX(-1px) translateY(0px) translateZ(0px);
  cursor: pointer;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__xUuW {
    z-index: 0;
    left: auto;
    top: auto;
    position: relative;
    width: 20px;
    bottom: auto;
    right: auto;
    height: 20px;
    flex-shrink: 0;
  }
}
.freeBox__hinyf {
  flex-direction: row;
  position: relative;
  width: auto;
  height: 25px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  bottom: auto;
  background: #ffffff82;
  cursor: pointer;
  display: none;
  border-radius: 100px;
  padding: 3px;
}
.svg___9N69K {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-1dmpswq7zNPC);
  width: 20px;
  height: 20px;
  transform: translateX(-1px) translateY(0px) translateZ(0px);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___9N69K {
    z-index: 20;
  }
}
.text__dwIz3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.section___61NzU {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  left: 0;
  top: auto;
  z-index: 2;
  right: 0;
  bottom: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-4Rjw4-JlxIrC);
  border-top: 2px solid var(--token-xIHLtsKT6cI7);
}
.section___61NzU > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___61NzU > * {
    grid-column: 4;
  }
}
.multilineTextInput2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.svg__hGiGu {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  height: 100%;
  color: var(--token-xIHLtsKT6cI7);
  cursor: pointer;
  min-width: 0;
  min-height: 0;
}
.svg__yGgbA {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-xIHLtsKT6cI7);
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0.8;
  min-width: 0;
  min-height: 0;
}
.svg__z35Vr {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  height: 100%;
  color: var(--token-xIHLtsKT6cI7);
  min-width: 0;
  min-height: 0;
}
.metoButton__fBxd9:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 3px;
  right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.svg__ueId2 {
  position: relative;
  height: 1em;
}
.text__f72Ws {
  white-space: pre;
  color: var(--token-xIHLtsKT6cI7);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  font-size: var(--token-QCzRjySgYUYj);
  font-weight: 700;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: var(--token-JLnei8msY981);
}
.svg__lKvla {
  position: relative;
  height: 1em;
}
.section__m7Vle {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 2;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__m7Vle > * {
  grid-column: 4;
}
.metoHeader:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.metoLabel__c8Bkj:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__jbiZu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  row-gap: var(--token-sSm8kn4qtmC9);
  min-height: 0;
  padding: 8px;
}
.freeBox__ci3Te {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  row-gap: var(--token-sSm8kn4qtmC9);
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.metoLabel__v9Kg:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__fDiPm {
  font-weight: 100;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 70%;
}
.svg__uRaMs {
  position: relative;
  height: 1em;
}
.text__d28Tf {
  white-space: pre;
  color: var(--token-xIHLtsKT6cI7);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg__vTipd {
  position: relative;
  height: 1em;
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 50%;
  height: 50%;
}
.modal2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__vmvR3 {
  font-size: var(--token-QCzRjySgYUYj);
  text-align: right;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  padding-top: var(--token-sSm8kn4qtmC9);
  padding-bottom: var(--token-sSm8kn4qtmC9);
  min-width: 0;
}
.freeBox___196U6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-x0W5E5oV4ZKj);
  min-width: 0;
  padding: 0px;
}
.radioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-xIHLtsKT6cI7);
  font-weight: 100;
  font-size: var(--token-WKBP9DQDUfyS);
  text-align: right;
  row-gap: var(--token-qnJhuc6uXiqh);
  min-width: 0;
  padding: 8px;
}
.metoButton___3VIcq:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__zitcW {
  position: relative;
  height: 1em;
}
.text__uPwiL {
  white-space: pre;
  color: var(--token-xIHLtsKT6cI7);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  font-weight: 700;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg__riftX {
  position: relative;
  height: 1em;
}
.session:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.getChat:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
