.root {
  background: var(--token-av6EF1yYpyXk);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-sSm8kn4qtmC9);
  min-width: 0;
  padding: var(--token-x0W5E5oV4ZKj);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-x0W5E5oV4ZKj);
    column-gap: 0px;
  }
}
.section__miNh {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-x0W5E5oV4ZKj) 0;
}
.section__miNh > * {
  grid-column: 4;
}
.metoButton:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__bVgpa {
  position: relative;
  width: 25px;
  height: 25px;
}
.text__skE8K {
  white-space: pre;
  color: var(--token-xIHLtsKT6cI7);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  font-weight: 700;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg__utU80 {
  position: relative;
  height: 1em;
}
.searchPost:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.modal2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__lPotF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 8px;
}
.freeBox___9CQu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
.text__jfRqd {
  color: var(--token-xIHLtsKT6cI7);
  font-weight: 700;
}
.metoRadioGroup:global(.__wab_instance) {
  max-width: 100%;
}
.section__hpctp {
  position: fixed;
  padding-right: 0;
  padding-left: 0;
  width: auto;
  justify-items: center;
  align-content: flex-start;
  display: grid;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding-bottom: 3rem;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__hpctp > * {
  grid-column: 4;
}
.freeBox__x7Lt6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 0px;
}
.text___1CQoh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-xIHLtsKT6cI7);
  font-size: 12px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__bgKWj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 5px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  margin: 4px;
}
.freeBox__wizZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-xIHLtsKT6cI7);
  min-width: 0;
  padding: 0px;
}
.freeBox___46H9J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
