.dialog:global(.__wab_instance) {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  max-width: 100%;
  object-fit: cover;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
}
.pcls__q6n1oHSzBCp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0f172a99;
  backdrop-filter: none;
  position: fixed;
  z-index: 999999;
  outline: none;
  -webkit-backdrop-filter: none;
  padding: var(--token-zB6Sy63cwwn1);
}
@media (min-width: 0px) and (max-width: 768px) {
  .pcls_RyCTbmIHfJJt {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    outline: none;
    padding: 0px;
  }
}
.pcls_8GelTo_pmw43 {
  outline: none;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .pcls_GpmYZ6c0M1EP {
    outline: none;
    padding: 10px 0px 0px;
  }
}
.dialogContent:global(.__wab_instance) {
  box-shadow: 0px 4px 16px 0px #00000033;
  background: linear-gradient(
    0deg,
    var(--token-R6hzF1vNps-A) 0%,
    var(--token-ie3T06_XAZZB) 100%
  );
  max-width: 600px;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  min-width: 600px;
  max-height: 100%;
  overflow: auto;
  border-radius: 16px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .dialogContent:global(.__wab_instance) {
    width: 100%;
    min-width: 100%;
    max-width: auto;
    border-radius: 15px 15px 0px 0px;
  }
}
.dialogContentnoSpacing:global(.__wab_instance) {
  padding: 0px;
}
.dialogContentfullScreen:global(.__wab_instance) {
  height: 100%;
  width: 100%;
  max-width: none;
  min-width: auto;
  min-height: 0;
}
.dialogContentbackground_dark:global(.__wab_instance) {
  background: var(--token-Xr0DUWYuCWoP);
}
.dialogContentbackground_black:global(.__wab_instance) {
  background: #000000;
}
.dialogContentbackground_exit:global(.__wab_instance) {
  background: var(--token-sK4wzhDZpNkn);
}
.dialogContentbackground_secound:global(.__wab_instance) {
  background: var(--token-R6hzF1vNps-A);
}
.freeBox___8D8Qx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  right: auto;
  padding: 0px;
}
.swiperSlider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-mg3tskdB-3gx);
  background: none;
}
.pcls_JkUSUVeuCM4C {
  color: var(--token-mg3tskdB-3gx);
  background: var(--token-kzi4iFhk4W7O);
  display: flex;
  flex-direction: column;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .swiperSlider:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__wo973 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%);
  border-top-right-radius: var(--token-WLaKK_tuDD6k);
  border-top-left-radius: var(--token-WLaKK_tuDD6k);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  padding: 3rem var(--token-x0W5E5oV4ZKj);
}
.freeBox__wo973 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-x0W5E5oV4ZKj));
  height: calc(100% + var(--token-x0W5E5oV4ZKj));
}
.freeBox__wo973 > :global(.__wab_flex-container) > *,
.freeBox__wo973 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wo973 > :global(.__wab_flex-container) > picture > img,
.freeBox__wo973
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-x0W5E5oV4ZKj);
}
.metoLabel:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__zFiW {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-WKBP9DQDUfyS);
  color: var(--token-mg3tskdB-3gx);
}
.text__wMxy5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-u_hd53JTigCD);
  color: var(--token-mg3tskdB-3gx);
}
.section {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.section > * {
  grid-column: 4;
}
.sectionfullScreen > * {
  grid-column: 4;
}
.sectionbackground_dark > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionbackground_dark > * {
    grid-column: 4;
  }
}
.sectionbackground_black > * {
  grid-column: 4;
}
.sectionfullScreen_background_dark > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionfullScreen_background_dark {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionfullScreen_background_dark > * {
    grid-column: 4;
  }
}
.freeBox___0NZNt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  margin: 0px;
}
.freeBoxhideHeader___0NZNtrgCIr {
  margin: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxfullScreen_background_dark___0NZNtHtdylUU8X {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__iIcyW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
.shopItem:global(.__wab_instance) {
  position: relative;
}
.freeBox__uvClu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: var(--token-sSm8kn4qtmC9) var(--token-sSm8kn4qtmC9)
    var(--token-WLaKK_tuDD6k);
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__jZxCb {
  position: relative;
  height: 1em;
}
.text__qwY3C {
  white-space: pre;
  color: var(--token-nWXitY1Mq62j);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-WKBP9DQDUfyS);
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text___98W2P {
  white-space: pre;
  color: var(--token-nWXitY1Mq62j);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  width: 100%;
  font-size: var(--token-o5LqR9FrbNhz);
  text-decoration-line: line-through !important;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__zeyYt {
  white-space: pre;
  color: var(--token-nWXitY1Mq62j);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  width: 100%;
  font-weight: 700;
  font-size: var(--token-WKBP9DQDUfyS);
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg___8GaUd {
  position: relative;
  height: 1em;
}
.dialogClose:global(.__wab_instance) {
  position: absolute;
  top: 16px;
  opacity: 0.7;
  object-fit: cover;
  width: auto;
  left: 16px;
  border-radius: 999px;
}
.dialogClosehideHeader:global(.__wab_instance) {
  display: none;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
  height: 1em;
}
.svgfullScreen_background_dark {
  width: 25px;
  height: 25px;
  color: var(--token-TgwlpmIh6GxQ);
}
.backHandler:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
