.root {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-x0W5E5oV4ZKj);
  min-width: 0;
  padding: 0px;
}
.freeBox {
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  max-width: 100%;
  height: auto;
  width: 100%;
  display: grid;
  grid-row-gap: var(--token-4Rjw4-JlxIrC);
  grid-column-gap: var(--token-x0W5E5oV4ZKj);
  min-width: 0;
  padding: 8px;
}
.freeBoxstyle2_purple {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.freeBoxstyle2__2Radio {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.radio2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
