.root {
  background: var(--token-av6EF1yYpyXk);
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-x0W5E5oV4ZKj);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootglobal_theme_light > * {
  grid-column: 4;
}
.rootglobal_theme_dark > * {
  grid-column: 4;
}
.rootshow_slide1 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootshow_slide1 > * {
    grid-column: 4;
  }
}
.rootshow_slide2 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootshow_slide2 > * {
    grid-column: 4;
  }
}
.rootshow_main {
  padding: 0px;
}
.rootshow_main > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootshow_main > * {
    grid-column: 4;
  }
}
.rootselectImage2 > * {
  grid-column: 4;
}
.rooteditPage > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rooteditPage > * {
    grid-column: 4;
  }
}
.rootchatViow > * {
  grid-column: 4;
}
.rootshop2 > * {
  grid-column: 4;
}
.rootprofile2 > * {
  grid-column: 4;
}
.rootselectImage2_show_slide1 > * {
  grid-column: 4;
}
.rootselectImage2_show_slide2 > * {
  grid-column: 4;
}
.rooteditPage_show_main > * {
  grid-column: 4;
}
.rooteditPage_selectImage2 > * {
  grid-column: 4;
}
.rootchatViow_show_main > * {
  grid-column: 4;
}
.rootshop2_show_main > * {
  grid-column: 4;
}
.rootprofile2_show_main > * {
  grid-column: 4;
}
.rootshop2_chatViow > * {
  grid-column: 4;
}
.rooteditPage_profile2 > * {
  grid-column: 4;
}
.rooteditPage_selectImage2_show_main > * {
  grid-column: 4;
}
.slide1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slide1:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.slide1show_slide1:global(.__wab_instance) {
  display: flex;
}
.slide1selectImage2_show_slide1:global(.__wab_instance) {
  display: none;
}
.login1 {
  background: var(--token-MALUK6_fMH3W);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 95vh;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  justify-self: stretch;
  row-gap: var(--token-WLaKK_tuDD6k);
  min-width: 0;
  border-radius: var(--token-WLaKK_tuDD6k);
  padding: var(--token-WLaKK_tuDD6k);
}
@media (min-width: 0px) and (max-width: 768px) {
  .login1 {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__ziXm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-MALUK6_fMH3W);
  row-gap: var(--token-WLaKK_tuDD6k);
  min-width: 0;
  border-radius: var(--token-WLaKK_tuDD6k);
  padding: 0px;
}
.freeBox__rv2Cr {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-sSm8kn4qtmC9);
  min-width: 0;
  padding: 0px;
}
.img__cg7Zk {
  outline-width: 0.1rem;
  outline-color: var(--token-xIHLtsKT6cI7);
  background: url("https://studio.plasmic.app/static/img/placeholder.png") top
    50% left 50% / cover repeat;
  object-fit: cover;
  max-width: 100%;
  height: 150px;
  align-self: center;
  width: 150px;
  flex-shrink: 0;
  border-radius: var(--token-sSm8kn4qtmC9);
  border-width: 2px;
}
.img__cg7Zk > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imgshow_slide1__cg7ZKcApvt {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
  }
}
.freeBox__zBut {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.metoLabel__zx1Gq:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__icCfI {
  text-align: right;
}
.textshow_slide1__icCfIcApvt {
  color: var(--token-xIHLtsKT6cI7);
}
.metoButton__gwNjT:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__tuNe {
  position: relative;
  height: 1em;
}
.text___26L0V {
  white-space: pre;
  color: var(--token-_xHkDF74GVe3);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg___8YsHm {
  position: relative;
  height: 1em;
}
.freeBox__cVItL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.metoLabel__sIZiw:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__mgXy7 {
  padding-bottom: 0px;
}
.textshow_slide1__mgXy7CApvt {
  color: var(--token-xIHLtsKT6cI7);
}
.name:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.nameshow_slide1:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__aCzYm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.metoLabel__no6PQ:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__hiBa {
  padding-bottom: 0px;
  text-align: right;
}
.textshow_slide1__hiBAcApvt {
  padding-bottom: 0px;
  color: var(--token-xIHLtsKT6cI7);
}
.birthday:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.birthdayshow_slide1:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__yoP3V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.metoLabel___6CJMt:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___676Lv {
  padding-bottom: 0px;
  text-align: right;
}
.textshow_slide1___676LVcApvt {
  padding-bottom: 0px;
  color: var(--token-xIHLtsKT6cI7);
}
.gender3:global(.__wab_instance) {
  max-width: 100%;
}
.metoButton__nSdCs:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__zTiF9 {
  position: relative;
  height: 1em;
}
.text___0Ysx {
  white-space: pre;
  color: var(--token-av6EF1yYpyXk);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  font-weight: 700;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg___6JtT {
  position: relative;
  height: 1em;
}
.slide2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  display: none;
}
.slide2show_slide1:global(.__wab_instance) {
  display: none;
}
.slide2show_slide2:global(.__wab_instance) {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slide2show_slide2:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.slide2editPage:global(.__wab_instance) {
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slide2editPage:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.slide2editPage_show_main:global(.__wab_instance) {
  display: none;
}
.login12 {
  background: var(--token-MALUK6_fMH3W);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 95vh;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  justify-self: stretch;
  row-gap: var(--token-WLaKK_tuDD6k);
  min-width: 0;
  border-radius: var(--token-WLaKK_tuDD6k);
  padding: var(--token-WLaKK_tuDD6k);
}
@media (min-width: 0px) and (max-width: 768px) {
  .login12 {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.login12show_slide2 {
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .login12show_slide2 {
    width: 100%;
    min-width: 0;
  }
}
.login12editPage {
  align-items: center;
  justify-content: center;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .login12editPage {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__iyZa5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-MALUK6_fMH3W);
  row-gap: var(--token-WLaKK_tuDD6k);
  min-width: 0;
  border-radius: var(--token-WLaKK_tuDD6k);
  padding: 0px;
}
.freeBox__i8I6H {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.freeBoxshow_slide2__i8I6HtKbpy {
  align-items: flex-start;
  justify-content: flex-start;
}
.freeBoxeditPage__i8I6HCCwlh {
  align-items: flex-start;
  justify-content: flex-start;
}
.metoLabel__k4A59:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___2Ac3Y {
  padding-bottom: 0px;
}
.textshow_slide2___2Ac3YtKbpy {
  padding-bottom: 0px;
  color: var(--token-xIHLtsKT6cI7);
}
.stateInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.stateInputshow_slide2:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.stateInputeditPage:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.stateList:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.stateListshow_slide2:global(.__wab_instance) {
  flex-shrink: 0;
}
.stateListeditPage:global(.__wab_instance) {
  flex-shrink: 0;
}
.stateListeditPage_show_slide2:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__icxYp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.freeBoxshow_slide2__icxYptKbpy {
  align-items: flex-start;
  justify-content: flex-start;
}
.freeBoxeditPage__icxYpCCwlh {
  align-items: flex-start;
  justify-content: flex-start;
}
.metoLabel__jRyd:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__iqiC {
  padding-bottom: 0px;
  text-align: right;
}
.textshow_slide2__iqiCtKbpy {
  padding-bottom: 0px;
  color: var(--token-xIHLtsKT6cI7);
}
.cityInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.cityInputshow_slide2:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.cityInputeditPage:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.cityList:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.cityListshow_slide2:global(.__wab_instance) {
  flex-shrink: 0;
}
.cityListeditPage:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox___8Fs5V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.freeBoxshow_slide2___8Fs5VtKbpy {
  align-items: flex-start;
  justify-content: flex-start;
}
.freeBoxeditPage___8Fs5VCCwlh {
  align-items: flex-start;
  justify-content: flex-start;
}
.metoLabel__kmdqu:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___8Pm00 {
  padding-bottom: 0px;
  text-align: right;
}
.textshow_slide2___8Pm00TKbpy {
  padding-bottom: 0px;
  color: var(--token-xIHLtsKT6cI7);
}
.addres:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.addresshow_slide1:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.addresshow_slide2:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.addreseditPage:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__kSqlc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxshow_slide2__kSqlctKbpy {
  column-gap: var(--token-WLaKK_tuDD6k);
  row-gap: 0px;
  padding: var(--token-PeLqyjS2FD-E) 0px 0px;
}
.freeBoxeditPage__kSqlcCCwlh {
  column-gap: var(--token-WLaKK_tuDD6k);
  row-gap: 0px;
  padding: var(--token-PeLqyjS2FD-E) 0px 0px;
}
.next:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.nextshow_slide2:global(.__wab_instance):global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dXr2N {
  position: relative;
  height: 1em;
}
.text___2Q9XY {
  white-space: pre;
  color: var(--token-av6EF1yYpyXk);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  font-weight: 700;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.textshow_slide2___2Q9XYtKbpy {
  color: var(--token-xIHLtsKT6cI7);
}
.texteditPage___2Q9XYcCwlh {
  color: var(--token-xIHLtsKT6cI7);
}
.svg__jn5Ik {
  position: relative;
  height: 1em;
}
.metoButton__syKxa:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__oMf4N {
  position: relative;
  height: 1em;
}
.text__euFd {
  white-space: pre;
  color: var(--token-av6EF1yYpyXk);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  font-weight: 700;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg__yoPaG {
  position: relative;
  height: 1em;
}
.backHandler__oJEm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.selectImage:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  display: none;
}
.selectImageselectImage2:global(.__wab_instance) {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .selectImageselectImage2:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox___4Ys2G {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
.freeBoxselectImage2___4Ys2GbApSq {
  z-index: 2;
  width: 100%;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxselectImage2___4Ys2GbApSq {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.section___30Kx {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___30Kx > * {
  grid-column: 4;
}
.sectionselectImage2___30KxbApSq {
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: fixed;
  min-width: 0;
}
.sectionselectImage2___30KxbApSq > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionselectImage2___30KxbApSq {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionselectImage2___30KxbApSq > * {
    grid-column: 4;
  }
}
.metoHeader__iwMe:global(.__wab_instance) {
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  right: auto;
}
.metoHeaderselectImage2__iwMeBApSq:global(.__wab_instance) {
  z-index: 2;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .metoHeaderselectImage2__iwMeBApSq:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.metoLabel__m7Nx:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__wmXTq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-PeLqyjS2FD-E);
  min-width: 0;
  padding: 0px;
}
.freeBoxselectImage2__wmXTqbApSq {
  padding-top: 4rem;
  z-index: 0;
}
.freeBox__yskjA {
  background: var(--token-MALUK6_fMH3W);
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-WLaKK_tuDD6k);
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: var(--token-WLaKK_tuDD6k);
}
.img > picture > img {
  object-fit: cover;
}
.imgselectImage2 {
  object-fit: cover;
}
.imgselectImage2 > picture > img {
  object-fit: cover;
}
.freeBox__pfu6Q {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBoxselectImage2__pfu6QbApSq {
  padding: var(--token-LLoqd6_MIbLR);
}
.metoButton___4YVyW:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.metoButtonselectImage2___4YVyWbApSq:global(.__wab_instance):global(
    .__wab_instance
  ) {
  width: 100%;
  min-width: 0;
}
.svg___0VwBt {
  position: relative;
  height: 1em;
}
.text__i5KW3 {
  white-space: pre;
  color: var(--token-xIHLtsKT6cI7);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.textselectImage2__i5KW3BApSq {
  font-weight: 700;
}
.svg___8C3Zz {
  position: relative;
  height: 1em;
}
.freeBox___4X9FF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxselectImage2___4X9FFbApSq {
  position: relative;
  left: auto;
  top: auto;
  column-gap: var(--token-x0W5E5oV4ZKj);
  row-gap: 0px;
  padding: 0px;
}
.sendImage:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.sendImageselectImage2:global(.__wab_instance):global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qqUvf {
  position: relative;
  height: 1em;
}
.metoLabel__hyUqj:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___5GkhQ {
  position: relative;
  height: 1em;
}
.metoButton__sGLu:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.metoButtonselectImage2__sGLuBApSq:global(.__wab_instance):global(
    .__wab_instance
  ) {
  width: 100%;
  min-width: 0;
}
.svg__q6FQ3 {
  position: relative;
  height: 1em;
}
.text__r04A {
  white-space: pre;
  color: var(--token-xIHLtsKT6cI7);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.textselectImage2__r04AbApSq {
  font-weight: 700;
}
.svg__pEdM {
  position: relative;
  height: 1em;
}
.text__eq5Nd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textselectImage2__eq5NdbApSq {
  color: var(--token-mg3tskdB-3gx);
  width: 1px;
  height: 1px;
  flex-shrink: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.backHandler__gvZa5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.backHandlershow_slide1__gvZa5CApvt:global(.__wab_instance) {
  display: flex;
}
.section__qBwjy {
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  left: auto;
  top: auto;
  z-index: 10;
  position: relative;
  right: auto;
  min-width: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__qBwjy > * {
  grid-column: 4;
}
.sectionglobal_theme_dark__qBwjyBwhTo > * {
  grid-column: 4;
}
.sectionselectImage2__qBwjybApSq {
  width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  right: auto;
  min-width: 0;
}
.sectionselectImage2__qBwjybApSq > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionselectImage2__qBwjybApSq {
    width: 100%;
    left: auto;
    top: auto;
    right: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionselectImage2__qBwjybApSq > * {
    grid-column: 4;
  }
}
.sectioneditPage__qBwjyCCwlh {
  left: 0;
  top: 0;
  z-index: 100;
  position: fixed;
  width: auto;
  right: 0;
  bottom: auto;
  height: auto;
  display: grid;
}
.sectioneditPage__qBwjyCCwlh > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectioneditPage__qBwjyCCwlh {
    left: 0;
    top: 0;
    right: 0;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectioneditPage__qBwjyCCwlh > * {
    grid-column: 4;
  }
}
.metoHeader___7Dz27:global(.__wab_instance) {
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 20;
  position: relative;
  right: auto;
  width: 100%;
  min-width: 0;
}
.metoHeaderselectImage2___7Dz27BApSq:global(.__wab_instance) {
  z-index: 2;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .metoHeaderselectImage2___7Dz27BApSq:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.metoHeadereditPage___7Dz27CCwlh:global(.__wab_instance) {
  z-index: 100;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .metoHeadereditPage___7Dz27CCwlh:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.metoLabel__lsFaR:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.texteditPage__dgc0FcCwlh {
  color: var(--token-xIHLtsKT6cI7);
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  display: none;
}
.profileselectImage2:global(.__wab_instance) {
  display: none;
}
.profileeditPage:global(.__wab_instance) {
  display: none;
}
.profileprofile2:global(.__wab_instance) {
  display: flex;
}
.profileeditPage_selectImage2:global(.__wab_instance) {
  display: none;
}
.profileprofile2_chatViow:global(.__wab_instance) {
  display: flex;
}
.backHandler__miJhf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.backHandlershow_slide1__miJhfcApvt:global(.__wab_instance) {
  display: flex;
}
.backHandlereditPage__miJhfCCwlh:global(.__wab_instance) {
  display: flex;
}
.backHandlerprofile2_show_main__miJhfG4G5LDtd1A:global(.__wab_instance) {
  display: none;
}
.userProfile:global(.__wab_instance) {
  max-width: 100%;
}
.userProfileprofile2:global(.__wab_instance) {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  min-height: 0;
}
.edit:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  display: none;
}
.editselectImage2:global(.__wab_instance) {
  display: none;
}
.editeditPage:global(.__wab_instance) {
  display: flex;
}
.editeditPage_selectImage2:global(.__wab_instance) {
  display: none;
}
.editeditPage_profile2:global(.__wab_instance) {
  display: none;
}
.backHandler__vqb8W:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.backHandlershow_slide1__vqb8WcApvt:global(.__wab_instance) {
  display: flex;
}
.backHandlereditPage__vqb8WcCwlh:global(.__wab_instance) {
  display: flex;
}
.freeBox___3NQos {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-MALUK6_fMH3W);
  row-gap: var(--token-WLaKK_tuDD6k);
  min-width: 0;
  border-radius: var(--token-WLaKK_tuDD6k);
  padding: 0px;
}
.freeBoxeditPage___3NQoscCwlh {
  background: none;
  padding-top: 4rem;
}
.freeBox__hmaDf {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-sSm8kn4qtmC9);
  min-width: 0;
  padding: 0px;
}
.freeBoxeditPage__hmaDfCCwlh {
  justify-content: center;
  align-items: center;
}
.freeBox__fCsPg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBoxeditPage__fCsPgcCwlh {
  width: auto;
  padding: 0px;
}
.img__ggtFv {
  outline-width: 0.1rem;
  outline-color: var(--token-xIHLtsKT6cI7);
  background: url("https://studio.plasmic.app/static/img/placeholder.png") top
    50% left 50% / cover repeat;
  object-fit: cover;
  max-width: 100%;
  height: 150px;
  width: 150px;
  flex-shrink: 0;
  border-radius: var(--token-sSm8kn4qtmC9);
  border-width: 2px;
}
.img__ggtFv > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imgshow_slide1__ggtFvcApvt {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
  }
}
.imgeditPage__ggtFvCCwlh {
  width: 130px;
  height: 130px;
  flex-shrink: 0;
  border-style: solid;
  border-color: var(--token-T923AFgI9ADB);
}
.metoButton__kkxjm:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.metoButtoneditPage__kkxjmCCwlh:global(.__wab_instance):global(
    .__wab_instance
  ) {
  position: absolute;
  left: -2px;
  top: auto;
  bottom: -2px;
}
.svg__y4I1J {
  position: relative;
  height: 1em;
}
.text___2KsJa {
  white-space: pre;
  color: var(--token-av6EF1yYpyXk);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.texteditPage___2KsJacCwlh {
  display: none;
}
.svg__gm0La {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svgeditPage__gm0LaCCwlh {
  width: 25px;
  height: 27px;
}
.svg__iZxEa {
  position: relative;
  height: 1em;
}
.freeBox__kcKv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.metoLabel__dS1Wt:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__hKlgD {
  padding-bottom: 0px;
}
.texteditPage__hKlgDcCwlh {
  color: var(--token-xIHLtsKT6cI7);
}
.editName:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.editNameshow_slide1:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.editNameeditPage:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__mApR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.metoLabel__xRbu0:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__vjEs2 {
  padding-bottom: 0px;
}
.texteditPage__vjEs2CCwlh {
  color: var(--token-xIHLtsKT6cI7);
}
.bio:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.bioshow_slide1:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.bioeditPage:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__nbkQt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.metoLabel__vKk02:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___5ISaP {
  padding-bottom: 0px;
  text-align: right;
}
.texteditPage___5ISaPcCwlh {
  color: var(--token-xIHLtsKT6cI7);
}
.birthday3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.birthday3show_slide1:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.birthday3editPage:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__mEjcJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.metoLabel___3Czj:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__ewdXe {
  padding-bottom: 0px;
  text-align: right;
}
.texteditPage__ewdXecCwlh {
  color: var(--token-xIHLtsKT6cI7);
}
.radioGroup:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__gzaP8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.freeBoxshow_slide2__gzaP8TKbpy {
  align-items: flex-start;
  justify-content: flex-start;
}
.freeBoxeditPage__gzaP8CCwlh {
  align-items: flex-start;
  justify-content: flex-start;
}
.metoLabel__xdfZh:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__slChG {
  padding-bottom: 0px;
}
.texteditPage__slChGcCwlh {
  color: var(--token-xIHLtsKT6cI7);
}
.stateInput2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.stateInput2show_slide2:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.stateInput2editPage:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.stateList2:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.stateList2show_slide2:global(.__wab_instance) {
  flex-shrink: 0;
}
.stateList2editPage:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__z7PJt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.freeBoxshow_slide2__z7PJTtKbpy {
  align-items: flex-start;
  justify-content: flex-start;
}
.freeBoxeditPage__z7PJtcCwlh {
  align-items: flex-start;
  justify-content: flex-start;
}
.metoLabel__jaKkk:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__v8Hvi {
  padding-bottom: 0px;
  text-align: right;
}
.texteditPage__v8HviCCwlh {
  color: var(--token-xIHLtsKT6cI7);
}
.cityInput2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.cityInput2show_slide2:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.cityInput2editPage:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.cityList2:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.cityList2show_slide2:global(.__wab_instance) {
  flex-shrink: 0;
}
.cityList2editPage:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__kxYWm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.freeBoxshow_slide2__kxYWmtKbpy {
  align-items: flex-start;
  justify-content: flex-start;
}
.freeBoxeditPage__kxYWmCCwlh {
  align-items: flex-start;
  justify-content: flex-start;
}
.metoLabel__mmCi0:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___1U5Y {
  padding-bottom: 0px;
  text-align: right;
}
.texteditPage___1U5YCCwlh {
  color: var(--token-xIHLtsKT6cI7);
}
.addres2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.addres2show_slide1:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.addres2show_slide2:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.addres2editPage:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__sGpJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxshow_slide2__sGpJtKbpy {
  column-gap: var(--token-WLaKK_tuDD6k);
  row-gap: 0px;
  padding: var(--token-PeLqyjS2FD-E) 0px 0px;
}
.freeBoxeditPage__sGpJcCwlh {
  column-gap: var(--token-WLaKK_tuDD6k);
  row-gap: 0px;
  padding: var(--token-PeLqyjS2FD-E) 0px var(--token-x0W5E5oV4ZKj);
}
.editProfile:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.editProfileselectImage2:global(.__wab_instance):global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__inIwe {
  position: relative;
  height: 1em;
}
.metoLabel___7Sr5R:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.texteditPage___7Mr8LcCwlh {
  color: var(--token-xIHLtsKT6cI7);
}
.svg___8EXcP {
  position: relative;
  height: 1em;
}
.chatViow2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.chatViow2selectImage2:global(.__wab_instance) {
  display: none;
}
.chatViow2editPage:global(.__wab_instance) {
  display: none;
}
.chatViow2chatViow:global(.__wab_instance) {
  display: flex;
}
.chatViow2editPage_selectImage2:global(.__wab_instance) {
  display: none;
}
.chatViow2profile2_chatViow:global(.__wab_instance) {
  display: none;
}
.backHandler__c0Bwj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.backHandlershow_slide1__c0BwjcApvt:global(.__wab_instance) {
  display: flex;
}
.backHandlereditPage__c0BwjCCwlh:global(.__wab_instance) {
  display: flex;
}
.chatPage:global(.__wab_instance) {
  max-width: 100%;
}
.section__nMjS9 {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__nMjS9 > * {
  grid-column: 4;
}
.sectionglobal_theme_dark__nMjS9BwhTo > * {
  grid-column: 4;
}
.sectionshow_slide1__nMjS9CApvt > * {
  grid-column: 4;
}
.sectionshow_slide2__nMjS9TKbpy > * {
  grid-column: 4;
}
.sectionshow_main__nMjS9Dtd1A {
  display: grid;
}
.sectionshow_main__nMjS9Dtd1A > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionshow_main__nMjS9Dtd1A > * {
    grid-column: 4;
  }
}
.sectionprofile2__nMjS9G4G5L > * {
  grid-column: 4;
}
.sectioneditPage_show_main__nMjS9CCwlhDtd1A {
  display: none;
}
.sectioneditPage_show_main__nMjS9CCwlhDtd1A > * {
  grid-column: 4;
}
.sectionchatViow_show_main__nMjS9XbdYDtd1A {
  display: none;
}
.sectionchatViow_show_main__nMjS9XbdYDtd1A > * {
  grid-column: 4;
}
.sectionshop2_show_main__nMjS9Walo1Dtd1A > * {
  grid-column: 4;
}
.sectionprofile2_show_main__nMjS9G4G5LDtd1A {
  display: none;
}
.sectionprofile2_show_main__nMjS9G4G5LDtd1A > * {
  grid-column: 4;
}
.section___2OkD4 {
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  height: auto;
  left: 0;
  top: auto;
  z-index: 100;
  position: fixed;
  right: 0;
  bottom: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___2OkD4 > * {
  grid-column: 4;
}
.sectionglobal_theme_dark___2OkD4BwhTo > * {
  grid-column: 4;
}
.sectionshow_slide1___2OkD4CApvt > * {
  grid-column: 4;
}
.sectionshow_slide2___2OkD4TKbpy > * {
  grid-column: 4;
}
.sectionshow_main___2OkD4Dtd1A {
  width: auto;
  z-index: 50;
  display: grid;
}
.sectionshow_main___2OkD4Dtd1A > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionshow_main___2OkD4Dtd1A > * {
    grid-column: 4;
  }
}
.sectioneditPage___2OkD4CCwlh > * {
  grid-column: 4;
}
.sectionshop2_show_main___2OkD4Walo1Dtd1A > * {
  grid-column: 4;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.main:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainshow_main:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.stateApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.cityApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.modal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__k1SxG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-qnJhuc6uXiqh);
  min-width: 0;
  padding: 0px;
}
.datePickers:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  display: flex;
  height: auto;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  align-self: center;
  color: var(--token-mg3tskdB-3gx);
  font-size: var(--token-WKBP9DQDUfyS);
  flex-direction: row;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .datePickers:global(.__wab_instance) {
    height: 250px;
    flex-shrink: 0;
  }
}
.metoButton___3VnFt:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__muGn6 {
  position: relative;
  height: 1em;
}
.text__sWg3C {
  white-space: pre;
  color: var(--token-mg3tskdB-3gx);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  font-weight: 700;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg__qjSw {
  position: relative;
  height: 1em;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.shop:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.shopModal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.splash2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 90vh;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__xj2Sh {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-4Rjw4-JlxIrC);
  min-height: 0;
  padding: 8px;
}
.img__nySsk {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: auto;
}
.img__nySsk > picture > img {
  object-fit: cover;
}
.metoLabel__gxNaO:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__etito {
  font-size: 2rem;
  font-weight: 700;
  color: var(--token-xIHLtsKT6cI7);
}
.metoLabel__n4QX:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__k2FDk {
  color: var(--token-xIHLtsKT6cI7);
  font-weight: 300;
}
.freeBox__v6NUl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-4Rjw4-JlxIrC);
  min-width: 0;
  padding: 8px;
}
.metoLabel__n1TqB:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__vnQni {
  color: var(--token-xIHLtsKT6cI7);
}
.svg__wmPuT {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-xIHLtsKT6cI7);
  width: var(--token-qnJhuc6uXiqh);
  height: var(--token-qnJhuc6uXiqh);
  flex-shrink: 0;
}
.noNet {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 90vh;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__s38XT {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-sSm8kn4qtmC9);
  min-height: 0;
  padding: 8px;
}
.lottie__h1Lt3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}
.metoLabel__ilbfN:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__maEb {
  font-size: 2rem;
  font-weight: 700;
}
.metoLabel___29YlT:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__sj9Ap {
  color: var(--token-NZ6RWKlEJd18);
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 60%;
}
.svg__jvh26 {
  position: relative;
  height: 1em;
}
.text__piXfy {
  white-space: pre;
  color: var(--token-xIHLtsKT6cI7);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg__vsB9B {
  position: relative;
  height: 1em;
}
.result:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__xdajj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.freeBoxeditPage__xdajjcCwlh {
  left: auto;
  top: auto;
}
.lottie__f95CQ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}
.text__oUyEd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-QCzRjySgYUYj);
  font-weight: 700;
  color: var(--token-262qQVmAaKDN);
  min-width: 0;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 60%;
}
.svg__vFqIz {
  position: relative;
  height: 1em;
}
.text__nyv7H {
  white-space: pre;
  color: var(--token-262qQVmAaKDN);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg__ifmp {
  position: relative;
  height: 1em;
}
.freeBox__ey5Gx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.freeBoxeditPage__ey5GxcCwlh {
  left: auto;
  top: auto;
}
.lottie__v3Lfm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}
.text__lZfXk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-QCzRjySgYUYj);
  font-weight: 700;
  color: var(--token-262qQVmAaKDN);
  min-width: 0;
}
.button3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 60%;
}
.svg___4YTd1 {
  position: relative;
  height: 1em;
}
.text__qXOx4 {
  white-space: pre;
  color: var(--token-nWXitY1Mq62j);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  padding-top: 0px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg__xgfQo {
  position: relative;
  height: 1em;
}
