.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__ehHb1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 90vh;
  max-width: 100%;
  overflow: auto;
  row-gap: var(--token-sSm8kn4qtmC9);
  min-width: 0;
  flex-shrink: 0;
  padding: 6rem 0px 5rem;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ehHb1 {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    row-gap: var(--token-4Rjw4-JlxIrC);
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .chatProfile:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.freeBox__zeizg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  background: var(--token-lI7p7XYFfy5v);
  column-gap: var(--token-fHvX3UtwHMku);
  min-width: 0;
  padding: var(--token-4Rjw4-JlxIrC);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zeizg {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.headerItem:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 1;
}
.freeBox__o3MKa {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: var(--plsmc-standard-width);
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.suggstionUser:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.getSession:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
