.root {
  background: var(--token-av6EF1yYpyXk);
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-x0W5E5oV4ZKj);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootpost > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootpost > * {
    grid-column: 4;
  }
}
.slide2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slide2:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.slide2post:global(.__wab_instance) {
  display: none;
}
.freeBox__ycl8G {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: var(--token-WLaKK_tuDD6k);
  min-width: 0;
  border-radius: var(--token-WLaKK_tuDD6k);
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ycl8G {
    padding: 0px;
  }
}
.freeBox__jhrvg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.metoLabel__z20Oi:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___5PA9 {
  padding-bottom: 0px;
  text-align: right;
}
.sex:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__nq9Ye {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.metoLabel__yJyUh:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__r2PCt {
  padding-bottom: 0px;
  text-align: right;
}
.age:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__hT5TW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.metoLabel__lHQnV:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__zfkex {
  padding-bottom: 0px;
}
.stateInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.stateList:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__z5FkN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-0uEq3rlr2FOl);
  min-width: 0;
  padding: 0px;
}
.metoLabel__tQx6E:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__wP59X {
  padding-bottom: 0px;
  text-align: right;
}
.cityInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.cityList:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.section__mvg4O {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-qnJhuc6uXiqh) var(--token-qnJhuc6uXiqh) 4rem;
}
.section__mvg4O > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__mvg4O > * {
    grid-column: 4;
  }
}
.metoButton__zdqZz:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .metoButton__zdqZz:global(.__wab_instance):global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.svg__dCofK {
  position: relative;
  height: 1em;
}
.text__jXvj {
  white-space: pre;
  color: var(--token-xIHLtsKT6cI7);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  font-weight: 700;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg__cKxF6 {
  position: relative;
  height: 1em;
}
.section__zZgKl {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  top: auto;
  left: auto;
  height: auto;
  z-index: 1;
  right: auto;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__zZgKl > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__zZgKl {
    left: auto;
    top: auto;
    right: auto;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__zZgKl > * {
    grid-column: 4;
  }
}
.sectionpost__zZgKLdxBzg {
  left: 0;
  top: 0;
  z-index: 100;
  position: fixed;
  width: auto;
  right: 0;
  display: grid;
}
.sectionpost__zZgKLdxBzg > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionpost__zZgKLdxBzg {
    left: 0;
    top: 0;
    right: 0;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionpost__zZgKLdxBzg > * {
    grid-column: 4;
  }
}
.metoButton__sHkMk:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.metoButtonpost__sHkMKdxBzg:global(.__wab_instance):global(.__wab_instance) {
  width: 100%;
  margin-top: var(--token-sSm8kn4qtmC9);
  min-width: 0;
}
.svg {
  position: relative;
  height: 1em;
}
.svgpost {
  width: 25px;
  height: 25px;
}
.text__ddN0 {
  white-space: pre;
  color: var(--token-av6EF1yYpyXk);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.textpost__ddN0DxBzg {
  color: var(--token-xIHLtsKT6cI7);
  font-weight: 700;
}
.svg__lw3N7 {
  position: relative;
  height: 1em;
}
.slide22:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slide22:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.slide22post:global(.__wab_instance) {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slide22post:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__nYepY {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: var(--token-WLaKK_tuDD6k);
  min-width: 0;
  border-radius: var(--token-WLaKK_tuDD6k);
  padding: var(--token-4Rjw4-JlxIrC);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nYepY {
    padding: 0px;
  }
}
.freeBoxpost__nYepYdxBzg {
  z-index: -1;
  position: relative;
  left: auto;
  top: auto;
  padding: 0rem 0px 0px;
}
.searchPost:global(.__wab_instance) {
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.searchPostpost:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .searchPostpost:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.backHandler:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
