.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-T923AFgI9ADB);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-sRd-P7kcRGL8);
  font-family: var(--token-jyx2jGsOgt2f);
  font-size: var(--token-lgQGklG9Zegu);
  line-height: var(--token-rkrGzSWUSqkc);
  outline-style: none;
  text-decoration-line: none;
  color: var(--token-T923AFgI9ADB);
  border-radius: var(--token-gfSc6nOUrtA7);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-XxA5v4jPgFPD);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-00_c3pLKJQ1Y);
}
.rootcolor_success:global(.__wab_instance) {
  background: #6cfd79;
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-0SPZ-GqfFK-m);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-OienTnm6tXHc);
}
.rootcolor_unnamedVariant:global(.__wab_instance) {
  color: var(--token-xIHLtsKT6cI7);
  background: var(--token-xIHLtsKT6cI7);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-KPpCgYy3oV10);
  font-size: var(--token-u_hd53JTigCD);
  column-gap: var(--token-CdJCXXOxwnDW);
  row-gap: 0px;
  border-radius: var(--token-MEQVrjVpHX9j);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-u_hd53JTigCD);
  line-height: var(--token-KPpCgYy3oV10);
  column-gap: var(--token-MEQVrjVpHX9j);
  row-gap: 0px;
  border-radius: var(--token-MEQVrjVpHX9j);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-QCzRjySgYUYj);
  line-height: var(--token-XaAVo_W2XQZa);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-QCzRjySgYUYj);
  line-height: var(--token-XaAVo_W2XQZa);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-oscQdFJlgSUy);
  border-radius: var(--token-gfSc6nOUrtA7);
}
.softBackgroundcolor_neutral {
  background: var(--token-OYSwCNjaZ0lj);
}
.softBackgroundcolor_muted {
  background: var(--token-TgwlpmIh6GxQ);
}
.softBackgroundcolor_success {
  background: var(--token-vT2Z4BGE324H);
}
.softBackgroundcolor_warning {
  background: var(--token-vf6sXU3gq1DY);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-8yqC-FhDCd1i);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-gfSc6nOUrtA7);
  border: 0px solid var(--token-Y1R6Gxzm844s);
}
.bordercolor_neutral {
  border-color: var(--token-uQMrpkCZv92v);
}
.bordercolor_muted {
  border-color: var(--token-OqQkhfZJm7k-);
}
.bordercolor_success {
  border-color: var(--token-y_dqUe09IKoS);
}
.bordercolor_warning {
  border-color: var(--token-jyp755CbHRuI);
}
.bordercolor_errorDestructive {
  border-color: var(--token-t9RVAOyIQEy2);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-gfSc6nOUrtA7);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-WSSCo-3_B2iA);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-6Xvy5wxkqPiq);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-Hi3UK9Fn0koN);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__ipt1Z {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition-property: all;
  transition-duration: 0.5s;
  column-gap: var(--token-gfSc6nOUrtA7);
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  padding: var(--token-gfSc6nOUrtA7) var(--token--0XWEGyvt5Ie);
}
.root[data-hovered] .freeBox__ipt1Z {
  transform: scaleX(0.8) scaleY(0.8) scaleZ(1);
}
.freeBoxsize_extraSmall__ipt1ZdGjL {
  padding: var(--token-MEQVrjVpHX9j) var(--token-gfSc6nOUrtA7);
}
.freeBoxsize_small__ipt1ZqUvl0 {
  padding: var(--token-gfSc6nOUrtA7) var(--token-sRd-P7kcRGL8);
}
.freeBoxsize_large__ipt1ZzjVbJ {
  padding-top: var(--token-MEQVrjVpHX9j);
  padding-bottom: var(--token-MEQVrjVpHX9j);
}
.freeBoxsize_extraLarge__ipt1ZqKFkV {
  padding-left: var(--token-0_BIosD_y6PC);
  padding-right: var(--token-0_BIosD_y6PC);
}
.freeBoxroundedFull__ipt1Z0UMTe {
  padding-right: var(--token-0_BIosD_y6PC);
  padding-left: var(--token-0_BIosD_y6PC);
}
.freeBox__nJtQf {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__nJtQfIizUx {
  display: flex;
}
.slotTargetStart {
  color: var(--token-_xHkDF74GVe3);
}
.slotTargetStartcolor_neutral {
  color: var(--token-xIHLtsKT6cI7);
}
.slotTargetStartcolor_muted {
  color: var(--token-r79OjcDVUril);
}
.slotTargetStartcolor_success {
  color: var(--token-kzi4iFhk4W7O);
}
.slotTargetStartcolor_warning {
  color: var(--token-oNg9nftTNdpJ);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-JDdMrpfG-6tK);
}
.slotTargetStarttype_soft {
  color: var(--token-m3pY4SguwmQ_);
}
.slotTargetStarttype_bordered {
  color: var(--token-m3pY4SguwmQ_);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-u_hd53JTigCD);
}
.slotTargetStartsize_small {
  font-size: var(--token-u_hd53JTigCD);
}
.slotTargetStartsize_large {
  font-size: var(--token-QCzRjySgYUYj);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-QCzRjySgYUYj);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-loJb2jLRnF0L);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-loJb2jLRnF0L);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-sVDJcKFCyy_M);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-sVDJcKFCyy_M);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-33of3YyEsr5M);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-33of3YyEsr5M);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-Gw83uSqogYx9);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-Gw83uSqogYx9);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-yDP54eUSqxnQ);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-yDP54eUSqxnQ);
}
.svg__flq7 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-_xHkDF74GVe3);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-xIHLtsKT6cI7);
}
.slotTargetLabelcolor_muted {
  color: var(--token-r79OjcDVUril);
}
.slotTargetLabelcolor_success {
  color: var(--token-kzi4iFhk4W7O);
}
.slotTargetLabelcolor_warning {
  color: var(--token-oNg9nftTNdpJ);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-JDdMrpfG-6tK);
}
.slotTargetLabeltype_soft {
  color: var(--token-m3pY4SguwmQ_);
}
.slotTargetLabeltype_bordered {
  color: var(--token-m3pY4SguwmQ_);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-loJb2jLRnF0L);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-sVDJcKFCyy_M);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-loJb2jLRnF0L);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-33of3YyEsr5M);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-sVDJcKFCyy_M);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-Gw83uSqogYx9);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-33of3YyEsr5M);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-yDP54eUSqxnQ);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-Gw83uSqogYx9);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-yDP54eUSqxnQ);
}
.text__u0Osw {
  white-space: pre;
  color: var(--token-xIHLtsKT6cI7);
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox__nls00 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__nls00Fr0Fv {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-_xHkDF74GVe3);
}
.slotTargetEndcolor_neutral {
  color: var(--token-xIHLtsKT6cI7);
}
.slotTargetEndcolor_muted {
  color: var(--token-r79OjcDVUril);
}
.slotTargetEndcolor_success {
  color: var(--token-kzi4iFhk4W7O);
}
.slotTargetEndcolor_warning {
  color: var(--token-oNg9nftTNdpJ);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-JDdMrpfG-6tK);
}
.slotTargetEndtype_soft {
  color: var(--token-m3pY4SguwmQ_);
}
.slotTargetEndtype_bordered {
  color: var(--token-m3pY4SguwmQ_);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-u_hd53JTigCD);
}
.slotTargetEndsize_small {
  font-size: var(--token-u_hd53JTigCD);
}
.slotTargetEndsize_large {
  font-size: var(--token-QCzRjySgYUYj);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-QCzRjySgYUYj);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-loJb2jLRnF0L);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-loJb2jLRnF0L);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-sVDJcKFCyy_M);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-sVDJcKFCyy_M);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-33of3YyEsr5M);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-33of3YyEsr5M);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-Gw83uSqogYx9);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-Gw83uSqogYx9);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-yDP54eUSqxnQ);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-yDP54eUSqxnQ);
}
.svg__zm7M {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  display: none;
}
.svgloading {
  width: var(--token-PeLqyjS2FD-E);
  color: var(--token-xIHLtsKT6cI7);
  height: var(--token-qnJhuc6uXiqh);
  flex-shrink: 0;
  display: block;
}
