@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* 🎯 تم اصلی - تاریک */
    --primary-red: #405380;
    --primary-orange: #405380;

    --header-icon: #E0E0E0;

    --secondary-button: #272738;

    --border-2: #e8e4d9;
    --card-background: #182033;

    --scaffold: #10182b;
    --on-scaffold: #182033;

    --txt-color: #e8e4d9;

    --purpel: #640278;
  }

  /* تم روشن */
  [data-theme="light"] {
    --primary-red: #3366cc;           /* آبی ملایم‌تر */
    --primary-orange: #f18f01;        /* نارنجی روشن */

    --header-icon: #333333;           /* خاکستری تیره برای آیکون */

    --secondary-button: #f0f0f0;      /* دکمه فرعی روشن */

    --border-2: #cccccc;              /* مرز روشن‌تر */
    --card-background: #ffffff;       /* پس‌زمینه کارت سفید */

    --scaffold: #f9f9f9;              /* پس‌زمینه صفحه */
    --on-scaffold: #ffffff;           /* سطح روی صفحه */

    --txt-color: #1a1a1a;             /* متن تیره */

    --purpel: #7444BC;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

[data-radix-popper-content-wrapper] {
  z-index: 999 !important;
}

.holiday-style.-selected {
  @apply !text-white;
}

.holiday-style {
  @apply !text-red-500;
}
